html
head
title= 'Home page'
style
   include styles.css
body   
.topnav
  a.active(href='/home') Home
  a(href='/services') Our Services
  a(href='/contact') Contact Us
  
div(style='padding-left:16px')
  h2 Welcome to CODIX !
img(src='https://www.codix.eu/img/app/codix-business-and-finance-software-solution-company-logo.png' alt='pic' style='width:50%;' class="image")
<h1 class='title'> SOFTWARE CONSULTING AND DEVELOPMENT <br> FOR YOUR DIGITAL SUCCESS</h1>