html
head
title= 'Our Services'
style
   include styles.css
body   
.topnav
  a(href='/home') Home
  a.active(href='/services') Our Services
  a(href='/contact') Contact Us
  
div(style='padding-left:16px')
    h2 Our Services :
    p We handle complex business challenges building all types of custom and platform-based solutions and providing a comprehensive set of end-to-end IT services.
    h3 Service Types :
    ul
        li Software Development
        li Testing and QA
        li Application Services
        li UI/UX Design
        li Infrastructure Services
        li Managed IT Services
        li IT Outsourcing
        li IT Consulting
        li IT Support